@import "../_colors";

.table4js__row {

    .table4js__row-context-action, .table4js__save-edit, .table4js__cancel-edit {
        display: none;
    }
}

.table4js__row--edit-inplace {

    .table4js__row-more-action, .table4js__row-context-action {
        display: none;
    }

    .table4js__save-edit, .table4js__cancel-edit {
        display: inline-block;
        fill: var(--abc-primary-4, $abc-primary-4);
    }

    &:hover {
        .table4js__row-more-action, .table4js__row-context-action {
            display: none;
        }        
    }
}