@import "../_colors";

table4, .table4js-root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F0F0F0;
  }

  ::-webkit-scrollbar-thumb {
    background: #CDCDCD;

    :hover {
      background: #A6A6A6;
    }
  }
}

table4 *, .table4js-root * {
  scrollbar-width: thin;
  box-sizing: border-box;
  outline: none;
}

button {
  margin: 0;
}

.table4js-svg-icon,
.table4js-button__svg-icon {
  width: 18px;
  height: 18px;
  fill: var(--abc-primary-2, $abc-primary-2);
  display: inline-block;
}

.table4js-resizable-container {
  min-height: 100px;
  height: 100%;
}

.table4js-scroll-container {
  overflow-y: auto;
  min-height: 100%;
  max-height: calc(100% - 180px);
  height: auto;
  width: 100%;
}

.table4js-scroll-container__narrow {
  display: inline-block;
  max-width: 500px;
}

.table4js-scroll-container--unlocked {
  width: fit-content;
}

.table4js-scroll-container--locked {
  overflow-y: visible;
}

.table4js-scroll-container--loadmore {
  display: none;
}

@-moz-document url-prefix() {
  .table4js-resizable-container {
    padding-right: 8px;
  }

  .table4js-scroll-container {
    width: calc(100% + 8px);
  }
}

.table4js {
  border-collapse: separate;
  border-spacing: 0;
}

.table4js--small {
  min-width: 400px;
}

.table4js-sticky-component {
  z-index: 10;
  position: sticky;
  background: var(--abc-primary-1, $abc-primary-1);
}

.table4js__header {
  top: 0;
}

.table4js-header-tools__cell {
  padding: 0;
  border-bottom: none;
}

.table4js-header-tools__container {
  border-radius: 10px 10px 0 0;
}

.table4js-group-header-technical-cell {
  background: var(--abc-primary-1-dark-2, $abc-primary-1-dark-2);
  border: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
}

.table4js-preheader {
  display: flex;
  align-items: center;
  padding: 6px;
}

.table4js-preheader__first-row {
  display: flex;
  flex-grow: 1;
  margin-right: 25px;
}

.table4js-advanced-settings {
  display: flex;
  align-items: center;
}

.table4js-button-more {
  margin-left: 15px;
}

.table4js-filter {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  width: 100%;
  height: 50px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 50px;
    top: 0;
    right: -1px;
    background: linear-gradient(90deg, transparent, var(--abc-primary-1-dark-2, $abc-primary-1-dark-2) 50%);
    z-index: 10;
  }
}

.table4js-filter__container {
  //position: absolute;
  display: flex;
  height: fit-content;
  padding: 5px;
  width: calc(100% - 5px);
  overflow-x: auto;
}

.table4js-header-title__cell {
  padding: 14px 6px;
  background: var(--abc-primary-0, $abc-primary-0);
  border-left: 1px solid var(--abc-primary-2-op-30, $abc-primary-2-op-30);
  position: relative;
  user-select: none;

  &:hover {
    .table4js-title__filter {
      display: block;
    }
  }
}

.table4js-header-title__technical-cell--right {
  border-left: none;
}

.table4js-switch {
  width: 15px;
}

.table4js-switch__text {
  font-weight: lighter;
  text-align: center;
  color: var(--abc-primary-2-op-50, $abc-primary-2-op-50);
}

.table4js-switch__text--selected {
  color: var(--abc-primary-2, $abc-primary-2);
}

.table4js-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.table4js-title__text {
  flex-grow: 1;
  margin-right: 30px;
  color: var(--abc-primary-2, $abc-primary-2);
  font-weight: normal;
  text-align: left;
}

.table4js-title__tools {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  background: linear-gradient(90deg, transparent 0%, var(--abc-primary-0, $abc-primary-0) 20%);
}

.table4js-title__filter {
  margin-left: 3px;
  display: none;
  cursor: pointer;
}

.table4js-title_resize {
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}

.table4js__number {
  margin: auto;
}

.table4js__check {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid var(--abc-primary-0-op-15, $abc-primary-0-op-15);
  margin: auto;
}

.table4js__icon-check {
  height: 100%;
  width: 100%;
  fill: var(--abc-primary-4, $abc-primary-4);
}

.table4js-cell__container {
  padding: 8px 6px;
}

.table4js-cell__container--loading {
  background: linear-gradient(90deg, var(--abc-primary-1-dark-8, $abc-primary-1-dark-8), var(--abc-primary-0-op-30, $abc-primary-0-op-30), var(--abc-primary-1-dark-8, $abc-primary-1-dark-8));
  background-size: 150% 150%;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  margin: 6px;
  border-radius: 5px;
  animation: gradient 5s ease infinite;
  opacity: 0.8;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.table4js__footer {
  bottom: 0;
  z-index: 9;
}

.table4js-icon-equal {
  fill: var(--abc-primary-0, $abc-primary-0);
  margin: 0 auto;
}

.table4js-footer__cell {
  border-bottom: none;
  padding: 0;
  background: var(--abc-primary-1-dark-2, $abc-primary-1-dark-2);
  border-top: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  vertical-align: middle;
}

.table4js-footer-tools__cell {
  padding: 0px;
}

.table4js-footer-tools__container {
  display: flex;
  padding: 6px;
  border-radius: 0 0 10px 10px;
}

.table4js-row-management {
  margin-right: 25px;
  flex-grow: 1;
}

.table4js-row-management__actions .actions {
  display: flex;

  button {
    margin-bottom: 0;
  }
}

.table4js-info {
  display: flex;
  align-items: center;
}

.table4js-info__total {
  margin-right: 15px;
}

.table4js-info__text {
  font-weight: lighter;
  color: var(--abc-primary-0-op-65, $abc-primary-0-op-65);
}

.table4js-info__go-to {
  display: flex;
  align-items: center;
}

.table4js-go-to__text {
  margin-right: 5px;
}

.table4js-go-to__value {
  @include mx-form-control;
  width: 40px;
  height: 24px;
  margin-right: 3px;
  padding: 6px;

  &:focus,
  &:focus-visible {
    @include mx-form-control-focus;
  }
}

.table4js-btn-transparent {
  margin: 0;
  padding: 3px;
  height: 21px;
  background: none;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: var(--abc-primary-0-op-20, rgba(118, 148, 206, 0.2));
  }

  .table4js-svg-icon {
    margin: 0;
    fill: var(--abc-primary-0, $abc-primary-0);
  }
}

.table4js--small {

  .table-bottom-actions,
  .table4js-actions {
    button.action-button {
      .table4js-button__svg-icon {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }

  .table4js-action-button__icon {
    margin-right: 0;
  }
}

table4, .table4js-root {
  display: inline-block;
  height: 100%;

  &.abrs-table-child-view {
    height: 100%;
  }

  .table4js-scroll-container__locked {
    >table {
      >tr {
        visibility: collapse;

        &.row-visible {
          visibility: visible;
        }

        &.row-table-detail {
          visibility: visible;
        }
      }
    }
  }

  .abrs-table-side-edit {
    .table4js-extended {
      .table4js-resizable-container>.btn-ref-line {
        display: block;
      }
    }

    .abrs-table-side-detail {
      transition: width 1s;
      display: inline-block;
      vertical-align: top;
      overflow-y: scroll;
      height: 100%;
    }
  }
}

.table4js-view-content-holder-inner {
  height: 100%;
}

.table4js-svg-icon.table4js-go-to__icon {
  width: 16px;
  height: 16px;
}

.table4js-root--fit-width {
  width: 100%;

  .table4js-resizable-container {
    width: 100%;
  }
  .table4js {
    min-width: 100%;
    table-layout: fixed;
  }
}