@import "../_colors";

abris-actions {
  display: block;
  position: relative;

  .actions {
    position: relative;

    button.action-icon.action-checked {
      border: 1px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65) !important;
    }

    .abris-nested-actions {
      &.abris-nested-actions__title:hover > .abris-nested-actions__content {
        display: block;
      }

      &.abris-nested-actions__content {
        display: none;
        position: absolute;
        padding: 5px;
        border: 1px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65);
        border-radius: 5px;
        background: var(--abc-primary-1, $abc-primary-1);
        width: 125px;
        top: 99px;
        left: -131px;

        &::before {
          content: "";
          position: absolute;
          display: block;
          border: 11px solid transparent;
          border-left: 9px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65);
          right: -20px;
          top: 8px;
        }

        &::after {
          content: "";
          position: absolute;
          display: block;
          border: 13px solid transparent;
          border-left: 12px solid var(--abc-primary-1, $abc-primary-1);
          top: 6px;
          right: -21px;
        }
      }
    }
  }
}

.row.detail {
  abris-actions.abris-view-top-actions {
    right: 5px;
  }
}

@media print {
  abris-actions {
    display: none;
  }
}

.abris-report-designer__actions-row {
  margin: 10px 0;
}

.table-actions, .dropdown.actions-menu {
  .btn-default, .btn-green, .btn-red, .btn-blue, .btn-transparent {
    margin-bottom: 0;
  }
}