@import "../_colors";

table4js-actions {
  display: block;
  position: relative;
}

.table4js-table-actions {
  display: flex;
}

button.action-button.action-checked {
  border: 1px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65) !important;
}

.table4js-nested-actions {
  &:hover {
    .table4js-nested-actions__dropdown {
      display: block;
    }
  }
}

.table4js-nested-actions__dropdown {
  display: none;
  position: absolute;
  padding: 5px;
  border: 1px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65);
  border-radius: 5px;
  background: var(--abc-primary-1, $abc-primary-1);
  width: 125px;
  top: 99px;
  left: -131px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border: 11px solid transparent;
    border-left: 9px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65);
    right: -20px;
    top: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    border: 13px solid transparent;
    border-left: 12px solid var(--abc-primary-1, $abc-primary-1);
    top: 6px;
    right: -21px;
  }
}

.row.detail {
  table4js-actions.table4js-view-top-actions {
    right: 5px;
  }
}

@media print {
  table4js-actions {
    display: none;
  }
}

.table4js-report-designer__actions-row {
  margin: 10px 0;
}

.table-actions,
.dropdown.actions-menu {

  .btn-default,
  .btn-green,
  .btn-red,
  .btn-blue,
  .table4js-btn-transparent {
    margin-bottom: 0;
  }
}

.table4js-button--transparent {
  display: flex;
  align-items: center;
  height: 30px;
  width: max-content;
  padding: 5px 10px;
  margin-right: 5px;
  background: transparent;
  border: none;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  box-shadow: none !important;
  text-shadow: none !important;

  &:hover {
    background: var(--abc-primary-0-op-20, $abc-primary-0-op-20);
  }

  &:focus-within {
    background: var(--abc-primary-0-op-20, $abc-primary-0-op-20);
  }
}

.table4js-action-button .table4js-action-button__icon {
  fill: var(--abc-primary-4, $abc-primary-4);
}

.table4js-action-button__label {
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  font-size: 13px;
  line-height: 17px;
  font-weight: lighter;
  margin-left: 5px;
}

.table4js-button-toggle__dropdown-menu {
  position: absolute;
  padding: 8px;
  padding-right: 3px;
  padding-bottom: 3px;
  background: var(--abc-primary-1, $abc-primary-1);
  border: 1px solid var(--abc-primary-0-op-20, $abc-primary-0-op-20);
  top: 35px;
  z-index: 100;
  border-radius: 8px;
  width: 268px;
  border: 1px solid var(--abc-primary-0-op-65, $abc-primary-0-op-65);
  box-shadow: 0 3px 6px var(--abc-primary-3-op-20, $abc-primary-3-op-20);
}

.table4js-context-actions {
  display: flex;
}

.table4js-context-button {
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: auto;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: var(--abc-primary-1-dark-3, $abc-primary-1-dark-3);

  &:hover {
    background: var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  }

  .table4js-action-button__icon {
    height: 35px;
    width: 35px;
    margin-bottom: 5px;
  }

  .table4js-action-button__label {
    line-height: 14px;
    white-space: break-spaces;
  }
}