@import "../_colors";

abris-dropdown-wrapper {
    display: block;
    position: relative;
}

.navbar {
    abris-dropdown-wrapper {
        float: left;

        .dropdown-menu {
            margin-left: -20px;
        }

        .dropdown-alerts {
            min-width: 300px;
            margin-left: -220px;
        }

        &>a {
            position: relative;
            display: block;
            height: 50px;
            padding: 13px 15px 8px;
            color: #a44646 !important; //???
        }
       /*
        &>a:hover {
            background: rgba(25, 31, 36, .6);
        }
        */
    }
}