body span,
body a,
body input,
body textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: content-box !important;
}

.one-column {
    max-width: 168px;
}

.two-column {
    max-width: 376px;
}

.three-column {
    max-width: 584px;
}

.four-column {
    max-width: 792px;
}

.section-container {
    padding: 50px;
}

.page-size {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
 
/*header-menu*/
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}

.header__contaier {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
}

.header__pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link-page {
    text-decoration: none;
    color: #263769;
}

.header__link-page:not(:last-child) {
    margin-right: 10px;
}

.header__link-page:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #263769;
}

.header__link-page--active {
    font-weight: bold;
}

/*bacgrounds*/
.blue-background {
    background-image: url(img/background/blue.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.blue-top-background {
    background-image: url(img/background/blue.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.color-background {
    background-image: url(img/background/half-color.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /*border-radius: 32px 0 0 0;*/
}

.color-middle-background {
    background: url(img/background/color.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 0 32px 0 0;
}


.title-h1, .title-h2, .title-h3 {
    font-family: Consolas, monaco, monospace;
    font-size: 2.5em;
    font-weight: bold;
    color: #263769;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
}

.title-h1 {
    font-size: 3.5em;
    line-height: 1;
}

.title-h3 {
    font-size: 1.8em;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    color: #263769;
}

.text--centered {
    text-align: center;
}

.text--big {
    font-size: 1.25em;
}

.text--small {
    font-size: 1em;
    line-height: 1.2;
}

.hide-link {
    color: #263769;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    border: 2px solid  #263769;
    border-radius: 10px;
    padding: 12px 24px;
    color:  #263769;
    font-size: 1.25em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.35);
}

.button:hover {
    background: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    color: #263769;
}

.button:not(:last-child) {
    margin-right: 20px;
}

.button--accent {
    background:  #263769;
    color: #fff;
}

.button--accent:hover {
    background: #354880;
    border-color: #354880;
    color: #fff;
}


.main__title-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    text-align: center;
}

.small-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.feature__block {
    display: flex;
    margin-bottom: 16px;  
}

.feature__block--missing {
    opacity: 0.5; 
}

.hover-prompt {
    position: relative;
    margin-left: 8px;
}

.promt__img {
    background: #e2e0ff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promt__img:hover + .promt {
    display: block;
}

.promt__img img {
    width: 17px;
    height: 17px;
}

.promt {
    position: absolute;
    width: 250px;
    padding: 8px;
    background: #e2e0ff;
    border: 1px solid #7469FF;
    border-radius: 8px;
    right: -280px;
    display: none;
    transition: display 10s ease-out;
    z-index: 10;
}

.promt::before,
.promt::after {
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #7469FF;
    position: absolute;
    left: 20px;
    margin-left: -37px;
    top: calc(100% / 2 - 8px);
    width: 0;

}

.promt::after {
    border-right-color: #e2e0ff;
    margin-left: -35px;
}

.iframe-table {
    padding: 2px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
}


.vertical-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}

.v-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.framework-card {
    align-items: center;
}

.framework-card img {
    margin-bottom: 16px;
    height: 168px;
    border-radius: 8px;
}

.h-card {
    display: flex;
    align-items: center;
}

.h-card__img {
    margin-right: 40px;
}
@media (max-width: 750px) {
    .h-card__img {
        display: none;
    }
}    

.h-card .title-h3 {
    margin-top: 16px;
    text-align: end;
}

.sale-card {
    max-width: 320px;
    border: 3px solid #263769;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    margin-right: 30px;
}

.sale-card__price {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.accordion * {
    box-sizing: border-box !important;
    font-size: 1.05em !important;
}

.accordion {
    width: 80%;
    margin: auto;
}

.accordion-button:not(.collapsed) {
    color: #263769 !important;
    background-color: #d7ddf5!important;
    box-shadow: none;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #e2e0ff;
}




.sample {
    display: flex;
    align-items: flex-start;
}

.headline {
    margin-bottom: 32px;
}

.form-back .headline__text {
    align-self: center;
}

.form-back__form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-back__field {
    background: #fff;
    border: 2px solid #aebcee;
    border-radius: 5px;
    padding: 4px 8px;
    margin-bottom: 16px;
}

textarea.form-back__field {
    margin-bottom: 20px;
}

.form-back__field:focus {
    border: 2px solid #354880;
}

.form-back__field:focus-visible {
    outline: none;
}

.form-back__succes {
    justify-content: center;
}

.form-back__succes .v-card {
    width: 376px;
    justify-content: center;
}

.form-back__succes .title-h3 {
    text-align: center;
    margin-bottom: 16px;
}

.form-back__succes .text {
    margin-bottom: 8px;
}

.form-back__succes .button {
    width: auto;
}

.form-back__succes {
    padding: 65px 0;
}

.form-back__container--hidden {
    display: none;
}

.form-back__succes--hidden {
    display: none;
}


.footer {
    padding-top: 90px;
    padding-bottom: 30px;
}

.footer__container {
    display: flex;
    margin-top: 60px;
}

.footer__column:not(:last-child) {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.footer__logo {
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
}

.footer__ltd {
    text-align: center;
}

.footer__column .header__link-page {
    margin-bottom: 15px;
}

.social {
    display: flex;
    text-decoration: none;
    margin-bottom: 15px;
}

.social__icon {
    margin-right: 5px;
}

.social__link {
    color: #263769;
}

.social:hover {
    color: #263769;
}


.examples__container {
    display: flex;
    padding: 30px 0;
}

.examples__sticky-list {
    margin-right: 40px;
    height: fit-content;
    position: sticky;
    top: 91px;
    bottom: 0;
    display: flex;
    flex-direction: column;

}

.examples__list-logo {
    margin-bottom: 30px;
}

.examples__list {
    font-family: 'Roboto', sans-serif;
    padding-inline-start: 0;
    padding: 15px;
    margin: 0;

    background: #D4D0FF;
    border-radius: 8px;
    list-style: none;
}

.examples__list input, .examples__list label {
    cursor: pointer;
}

.examples__page:not(:last-child) {
    margin-bottom: 10px;
}

.examples__page-link {
    color: #263769;
    text-decoration: none;
}

.examples__page-link:hover {
    text-decoration: underline;
}

.examples__samples {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.examples__headline {
    line-height: 1;
    margin-bottom: 30px;
}

.sample__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.sample__container:first-of-type {
    margin-top: -14px;
}

.sample__headline {
    border-bottom: 3px solid #7469FF;
    width: 100%;
}

.sample__description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.sample__new-window {
    text-decoration: none;
    color: #7469FF;
    display: flex;
    align-items: flex-end;
    opacity: 0.8;
    padding: 0 15px;
}

.sample__new-window:hover {
    opacity: 1;
}

.sample__new-window span {
    margin-right: 8px;
    line-height: 1;
}

.sample__new-window img {
    height: 25px;
    width: 25px;
}

.sample__table {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.sample__code {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sample__code-text {
    padding: 10px;
    max-height: 350px;
    overflow: auto;
    border: 2px solid #7469FF;
    border-radius: 10px;
    margin: 0;
    max-width: 768px;
    display: flex;
    width: 875px;
}

pre code.hljs {
    background: none;
    width: 100%;
}

.sample__code-file {
    padding: 10px;
    border: 2px solid #D4D0FF;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    margin-bottom: -2px;
    margin-left: 5px;
    background: #fff;
}

.sample__code-files {
    margin-right: 20px;
    display: flex;
}

.sample__code-file--active {
    border-color: #7469FF;
    z-index: 2;
}

.sample__code-headline {
    margin-bottom: -40px;
    font-size: 2em;
}

code span {
    font-family: Consolas;
    font-size: 16px;
}

pre {
    padding: 10px;
    border-radius: 5px;
}

.footer__docs {
    margin-top: 50px;
}