body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.5;
}

.one-column {
    width: 168px;
}

.two-column {
    width: 376px;
}

.three-column {
    width: 584px;
}

.four-column {
    width: 792px;
}

.main-title,
.quick-start,
.unique-selling,
.features,
.crossbrow,
.form-back {
    margin-bottom: 70px;
}

.page-size {
    width: 1000px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}

.header__contaier {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
}

.header__pages {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link-page {
    text-decoration: none;
    color: #263769;
}

.header__link-page:not(:last-child) {
    margin-right: 10px;
}

.header__link-page:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header__link-page--active {
    font-weight: bold;
}

.blue-background {
    background-image: url(img/background/blue.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.blue-top-background {
    background-image: url(img/background/blue.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.main-title__contaier {
    width: 65%;
    margin: auto;
    padding: 20px;
    padding-bottom: 180px;
    padding-top: 50px;
}

.main-title__logo {
    width: 100%;
    margin-bottom: 10px;
}

.tagline {
    display: flex;
    flex-direction: column;
}

.tagline__line-one {
    margin-bottom: 5px;
}

.tagline__text {
    font-family: Consolas, monaco, monospace;
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);
}

.tagline__accent {
    color: #FED66B;
}

.tagline__blink {
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.08));
    margin-left: -8px;
    margin-bottom: 12px;
}

.tagline__line-two {
    width: fit-content;
    align-self: flex-end;
}

.tagline__line-two .tagline__text {
    color: #263769;
}

.tagline__link {
    text-decoration: underline;
    cursor: pointer;
}

.quick-start__container {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.headline__text {
    font-family: Consolas, monaco, monospace;
    font-size: 2em;
    font-weight: bold;
    color: #7469FF;
    text-shadow: 2px 2px 0 #F5D4F9;
}

.headline__text:last-child {
    align-self: flex-end;
}

.headline-description {
    margin-left: auto;
    margin-bottom: 20px;
}

.semple {
    display: flex;
    align-items: flex-start;
}

.steps {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.steps__description {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.steps__code {
    font-family: Consolas, monaco, monospace;
    padding: 10px;
    border-radius: 5px;
    background: #D4D0FF;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button {
    border: 2px solid #7469FF;
    border-radius: 10px;
    padding: 15px 25px;
    background: #fff;
    color: #7469FF;
    box-shadow: 0 5px 0 #A59EFF;
    font-size: 1.1em;
}

.button:hover {
    box-shadow: 0 5px 0 #716bce;
    text-decoration: underline;
    cursor: pointer;
}

.button:not(:last-child) {
    margin-right: 20px;
}

.button--accent {
    background: #7469FF;
    box-shadow: 0 5px 0 #443BC2;
    color: #fff;
}

.button--accent:hover {
    box-shadow: 0 5px 0 #2e2692;
}

.unique-selling__container {
    display: flex;
    align-items: center;
}

.unique-selling__column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
}

.text-right {
    text-align: right;
}

.unique-selling .headline__text {
    margin-bottom: 15px;
}

.unique-selling__description {
    opacity: 0.5;
    margin-bottom: 30px;
    width: 50%;
}

.features .headline {
    margin-bottom: 30px;
}

.features__reason {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.reason-img {
    margin-right: 40px;
    width: 300px;
    margin-left: 76px;
}

.reason-column {
    display: flex;
    flex-direction: column;
}

.reason-column .headline__text {
    margin-bottom: 15px;
}

.reason-right .reason-img {
    margin-left: 40px;
    margin-right: 76px;
}

.reason-right .reason-column {
    align-items: flex-end;
}

.crossbrow .headline {
    margin: auto;
    margin-bottom: 20px;
}

.crossbrow__browsers {
    display: flex;
    align-items: center;
}

.crossbrow__item:not(:last-child) {
    margin-right: 40px;
}

.form-back .headline {
    margin: auto;
    margin-bottom: 20px;
}

.form-back .headline__text {
    align-self: center;
}

.form-back__form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-back__label {
    margin-bottom: 5px;
}

.form-back__field {
    background: #fff;
    border: 1px solid #A59EFF;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

textarea.form-back__field {
    margin-bottom: 20px;
}

.form-back__field:focus {
    border: 1px solid #7469FF;
}

.form-back__field:focus-visible {
    outline: none;
}

.form-back__button {
    margin: auto;
}

.form-back__succes .reason__description {
    margin-bottom: 15px;
}

.form-back__succes .button {
    margin-left: 0;
}

.footer {
    padding-top: 90px;
    padding-bottom: 30px;
}

.footer__container {
    display: flex;
}

.footer__column:not(:last-child) {
    display: flex;
    flex-direction: column;    
    margin-right: 40px;
}

.footer__logo {
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
}

.footer__ltd {
    text-align: center;
}

.footer__column .header__link-page {
    margin-bottom: 15px;
}

.social {
    display: flex;
    text-decoration: none;
    margin-bottom: 15px;
}

.social__icon {
    margin-right: 5px;
}

.social__link {
    color: #263769;
}

.examples__container {
    display: flex;
    padding: 30px 0;
}

.examples__sticky-list {
    margin-right: 40px;
    height: fit-content;
    position: sticky;
    top: 91px;
    bottom: 0;
    display: flex;
    flex-direction: column;

}

.examples__list-logo {
    margin-bottom: 30px;
}

.examples__list {
    padding-inline-start: 0;
    padding: 15px;
    margin: 0;

    background: #D4D0FF;
    border-radius: 8px;
    list-style: none;
}

.examples__page:not(:last-child) {
    margin-bottom: 10px;
}

.examples__page-link {
    color: #263769;
    text-decoration: none;
}

.examples__page-link:hover {
    text-decoration: underline;
}

.examples__samples {
    display: flex;
    flex-direction: column;
}

.examples__headline {
    line-height: 1;
    margin-bottom: 30px;
    font-size: 1.7em;
    color: #263769;
}

.sample__container {
    display: flex;
    flex-direction: column;
}

.sample__container:first-of-type {
    margin-top: -14px;
}

.sample__headline {
    border-bottom: 3px solid #7469FF;
    width: 100%;
}