body span,
body a,
body input,
body textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: content-box !important;
}

.one-column {
    max-width: 168px;
}

.two-column {
    max-width: 376px;
}

.three-column {
    max-width: 584px;
}

.four-column {
    max-width: 792px;
}

.section-container {
    padding: 50px;
}

.page-size {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/*header-menu*/
.header {
    position: sticky;
    top: 0;
    z-index: 15;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}

.header__contaier {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
}

.header__pages {
    display: flex;
    align-items: center;
}

.header__link-page {
    text-decoration: none;
    color: #263769;
    margin-right: 16px;
}

.header__link-page:last-child {
    margin-left: 25px;
}

.header__link-page:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #263769;
}

.header__link-page--active {
    font-weight: bold;
}

/*bacgrounds*/
.blue-background {
    background-image: url(img/background/blue.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.blue-top-background {
    background-image: url(img/background/blue.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.color-background {
    background-image: url(img/background/half-color.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /*border-radius: 32px 0 0 0;*/
}

.color-background--1 {
    background-position: center;
    border-radius: 32px 0 0 0;
}

.color-middle-background {
    background: url(img/background/color.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 0 32px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);
    margin: 50px 0;
}

.color-middle-background:last-of-type {
    margin-bottom: 0;
}

.color-middle-background--1 {
    background-position: right bottom;
}

.color-nocover-background {
    background: url(img/background/color2.svg) rgba(255, 255, 255, 0.75);
    background-blend-mode: lighten;
    background-repeat: repeat-y;
    background-position: top;
    background-size: contain;
    /*border-radius: 32px 0 0 0;*/
}


.title-h1,
.title-h2,
.title-h3,
.title-h4 {
    font-family: Consolas, monaco, monospace;
    font-size: 2.5em;
    font-weight: bold;
    color: #263769;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
}

.title-h1 {
    font-size: 3.5em;
    line-height: 1;
}

.title-h3 {
    font-size: 1.8em;
}

.title-h4 {
    font-size: 1.3em;
    margin-bottom: 8px;
}

.text {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.15em;
    color: #263769;
}

.text--centered {
    text-align: center;
}

.text--big {
    font-size: 1.25em;
}

.text--small {
    font-size: 1em;
    line-height: 1.2;
}

.text--code {
    padding: 8px 16px;
    background: #a3bcff86;
    border: 3px solid #35488031;
    border-radius: 8px;
    margin-bottom: 8px;
}

.hide-link {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #263769;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    border: 2px solid #263769;
    border-radius: 10px;
    padding: 12px 24px;
    color: #263769;
    font-size: 1.25em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.35);
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.button:hover {
    background: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    color: #263769;
}

.button:not(:last-child) {
    margin-right: 20px;
}

.button--accent {
    background: #263769;
    color: #fff;
}

.button--accent:hover {
    background: #354880;
    border-color: #354880;
    color: #fff;
}


.main__title-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    text-align: center;
}

.small-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.sample {
    padding: 50px 0;
    position: relative;
    margin-bottom: 40px;
}

.absolute-block {
    position: absolute;
}

.absolute-block--one {
    left: 20px;
    top: 0;
}

.absolute-block--two {
    right: 20px;
    bottom: -16px;
}

.absolute-block--three {
    left: 20px;
    bottom: -16px;
}

.absolute-block--four {
    right: 20px;
    top: 0;
}

.absolute-block__inner {
    position: relative;
    display: flex;
}

.svg-line {
    stroke: #263769;
    stroke-width: 3px;
    fill: none;
    position: absolute;
    right: 41px;
    top: 100%;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-line--right {
    left: 41px;
    right: auto;
}

.svg-line--bottom {
    right: auto;
    top: auto;
    bottom: -8px;
    left: 41px;
}

.svg-line--left-bottom {
    right: 41px;
    top: auto;
    bottom: -8px;
}

.feature__block {
    display: flex;
    margin-bottom: 16px;
}

.feature__block--missing {
    opacity: 0.5;
}

.hover-prompt {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}

.promt__img {
    background: #e2e0ff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promt__img:hover+.promt {
    display: block;
}

.promt__img img {
    width: 17px;
    height: 17px;
}

.promt {
    position: absolute;
    width: 350px;
    padding: 8px;
    background: #e2e0ff;
    border: 1px solid #7469FF;
    border-radius: 8px;
    right: -380px;
    display: none;
    transition: display 10s ease-out;
    z-index: 10;
}

.promt::before,
.promt::after {
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #7469FF;
    position: absolute;
    left: 20px;
    margin-left: -37px;
    top: calc(100% / 2 - 8px);
    width: 0;

}

.promt::after {
    border-right-color: #e2e0ff;
    margin-left: -35px;
}

.promt--left {
    right: inherit;
    left: -380px;
}


.promt--left::before,
.promt--left::after {
    content: '';
    border: 8px solid transparent;
    border-left: 8px solid #7469FF;
    position: absolute;
    right: -20px;
    left: unset;
    margin-right: 3px;
    top: calc(100% / 2 - 8px);
    width: 0;

}

.promt--left::after {
    border-left-color: #e2e0ff;
    margin-right: 4px;
}

.iframe-table {
    padding: 2px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    max-width: 960px;
    z-index: 9;
}

.horizontal-cards {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    margin-bottom: 24px;
}

.horizontal-cards .h-card {
    align-items: flex-start;
    flex-basis: 40%;
}

.horizontal-cards .title-h4 {
    text-align: left;
}


.vertical-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.v-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.framework-card {
    align-items: center;
}

.framework-card img {
    margin-bottom: 16px;
    height: 168px;
    border-radius: 8px;
}

.h-card {
    display: flex;
    align-items: center;
}

.h-card__img {
    margin-right: 40px;
}

@media (max-width: 750px) {
    .h-card__img {
        display: none;
    }
}

.h-card .title-h3 {
    margin-top: 16px;
    text-align: end;
}

.sale-card {
    max-width: 260px;
    width: 100%;
    border: 3px solid #263769;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}

.sale-card__price {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.accordion * {
    box-sizing: border-box !important;
    font-size: 1.05em !important;
}

.accordion {
    width: 80%;
    margin: auto;
}

.accordion-button:not(.collapsed) {
    color: #263769 !important;
    background-color: #d7ddf5 !important;
    box-shadow: none;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #e2e0ff;
}

.headline {
    margin-bottom: 32px;
}

.form-back .headline__text {
    align-self: center;
}

.form-back__form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-back__field {
    background: #fff;
    border: 2px solid #aebcee;
    border-radius: 5px;
    padding: 4px 8px;
    margin-bottom: 16px;
}

.form-back__button {
    margin: 0 auto;
}

textarea.form-back__field {
    margin-bottom: 20px;
}

.form-back__field:focus {
    border: 2px solid #354880;
}

.form-back__field:focus-visible {
    outline: none;
}

.form-back__succes {
    justify-content: center;
}

.form-back__succes .v-card {
    width: 376px;
    justify-content: center;
}

.form-back__succes .title-h3 {
    text-align: center;
    margin-bottom: 16px;
}

.form-back__succes .text {
    margin-bottom: 8px;
}

.form-back__succes .button {
    width: auto;
}

.form-back__succes {
    padding: 65px 0;
}

.form-back__container--hidden {
    display: none;
}

.form-back__succes--hidden {
    display: none;
}


.footer {
    padding-top: 90px;
    padding-bottom: 30px;
}

.footer__container {
    display: flex;
    margin-top: 60px;
}

.footer__column:not(:last-child) {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.footer__logo {
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
}

.footer__ltd {
    text-align: center;
}

.footer__column .header__link-page {
    margin-bottom: 15px;
}

.footer__column .header__link-page {
    margin-left: 0 !important;
}

.social {
    display: flex;
    text-decoration: none;
    margin-bottom: 15px;
    align-items: center;
}

.social__icon small-icon {
    margin-right: 8px;
}

.social__link {
    color: #263769;
}

.social:hover {
    color: #263769;
}


.examsples-secxtion {
    padding: 25px;
}

.examples * {
    text-align: left !important;
}

.examples {
    display: flex;
}

.sample__headline {
    border-bottom: 3px solid #4d69bd42;
    width: 100%;
    margin-bottom: 8px;
}

.sample__description {
    margin-bottom: 16px;
}

.sample__table {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sample__table .feature__block {
    margin-bottom: 4px;
}

.sample__table iframe {
    min-width: 800px;
    min-height: 500px;
    border: none;
    outline: none;
    margin-bottom: 32px;
}

.sample__code {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sample__code-text {
    padding: 10px;
    max-height: 350px;
    overflow: auto;
    background: #fff;
    border: 3px solid #3548807e;
    border-radius: 10px;
    margin: 0;
    max-width: 768px;
    display: flex;
    width: 875px;
}

pre code.hljs {
    background: #fff;
    width: 100%;
}

.sample__code-file {
    padding: 8px 16px;
    border: 3px solid #35488031;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    margin-bottom: -3px;
    margin-left: 8px;
    background: #fff;
}

.sample__code-files {
    margin-right: 20px;
    display: flex;
}

.sample__code-file--active {
    border-color: #3548807e;
    z-index: 2;
}

.sample__code-headline {
    margin-bottom: -40px;
}

code span {
    font-family: Consolas, monaco, monospace;
    font-size: 16px !important;
    line-height: 1.1;
}

pre {
    padding: 10px;
    border-radius: 5px;
}

.fram-check {
    display: none;
}

.fram-check:checked+.text {
    font-weight: 800;
    text-decoration: underline;
}

.examples__sticky-list {
    margin-right: 40px;
    height: fit-content;
    position: sticky;
    top: 91px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.examples__list {
    padding-inline-start: 0;
    margin: 0;
    list-style: none;
}

.examples__list input,
.examples__list label {
    cursor: pointer;
}

.examples__page:not(:last-child) {
    margin-bottom: 8px;
}

.examples__page-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    line-height: 1.2;
}

.examples__page-link:hover {
    text-decoration: underline;
}

.examples__samples {
    display: flex;
    flex-direction: column;
}

.examples__headline {
    margin-bottom: 32px;
}

.sample__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.examples__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F0F0F0;
}

*::-webkit-scrollbar-thumb {
    background: #CDCDCD;
}

*::-webkit-scrollbar-thumb:hover {
    background: #A6A6A6;
}

#buy-title {
    display: none;
}