.table4js-table__bool-cell-viewer {
    display: inline-block;    
    text-align: center;
    width: 100%;
}

.table4js-table__bool-cell-viewer-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
}

.table4js-table__bool-cell-editor {
    text-align: center;
}

.table4js-table__bool-cell-editor input {
    width: 1em;
    height: 1em;
    margin: 1px;
}