@import "../_colors";

.abris-filter-item {
  display: flex;
  align-items: center;
  min-width: max-content;
  height: 34px;
  margin-right: 10px;
  padding: 5px 10px;
  background: var(--abc-primary-1-dark-8, $abc-primary-1-dark-8);
  border-radius: 20px;
}

.abris-filter-text {
  color: var(--abc-primary-0, $abc-primary-0);
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  width: auto;
  min-width: fit-content;
}

.abris-filter__operator {
  margin-left: 15px;
  margin-right: 15px;
}

.abris-filter___operation {
  background: none;
  border: none;
  width: 105px;
  border-bottom: 2px solid var(--abc-primary-0-op-30, $abc-primary-0-op-30);
  padding: 2px 0;
}

.abris-filter__operand input {
  width: 105px !important;
  max-width: 105px;
  height: 24px;
  background: none;
  border: none;
  border-bottom: 2px solid var(--abc-primary-0-op-30, $abc-primary-0-op-30);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.abrs-filter__value {
  min-width: 105px;
  height: 24px;
  border: none;
  border-bottom: 2px solid var(--abc-primary-0-op-30, $abc-primary-0-op-30);
}

.abris-filter__remove {
  display: flex;
  cursor: pointer;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

.abris-filter__remove-icon {
  width: 10px;
  height: 10px !important;
  fill: var(--abc-primary-0-op-65, $abc-primary-0-op-65);

  &:hover {
    fill: var(--abc-primary-0, $abc-primary-0);
  }
}
