@import "../_colors";

abris-filter-select {
  white-space: nowrap;
  background: var(--abc-primary-1-dark-2, $abc-primary-1-dark-2);
  padding: 2px;
}

.abris-filter-select--selection {
  display: inline-block;
}

.abris-filter-select--selected-item {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}

.abris-filter-select--toggle-button {
  display: inline-block;
}