@import "../_colors";

table4, .table4js-root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F0F0F0;
  }

  ::-webkit-scrollbar-thumb {
    background: #CDCDCD;

    :hover {
      background: #A6A6A6;
    }
  }
}

table4 *, .table4js-root * {
  scrollbar-width: thin;
  box-sizing: border-box;
  outline: none;
}

button {
  margin: 0;
}

.table4js-svg-icon,
.table4js-button__svg-icon {
  width: 18px;
  height: 18px;
  fill: var(--abc-primary-2, $abc-primary-2);
}

.table4js-table-resizable-container {
  min-height: 100px;
  height: 100%;
}

.table4js-table-scroll-container {
  overflow-y: auto;
  min-height: 100%;
  max-height: calc(100% - 180px);
  height: auto;
  width: 100%;
}

.table4js-table-scroll-container__narrow {
  display: inline-block;
  max-width: 500px;
}

.table4js-table-scroll-container--unlocked {
  width: fit-content;
}

.table4js-table-scroll-container--locked {
  overflow-y: visible;
}

.table4js-table-scroll-container--loadmore {
  display: none;
}

@-moz-document url-prefix() {
  .table4js-table-resizable-container {
    padding-right: 8px;
  }

  .table4js-table-scroll-container {
    width: calc(100% + 8px);
  }
}

.table4js-table {
  border-collapse: separate;
  border-spacing: 0;
}

.table4js-table--small {
  min-width: 400px;
}

.table4js-table-sticky-component {
  z-index: 10;
  position: sticky;
  background: var(--abc-primary-1, $abc-primary-1);
}

.table4js-table__header {
  top: 0;
}

.table4js-table-header-tools__cell {
  padding: 0;
  border-bottom: none;
}

.table4js-table-header-tools__container {
  border-radius: 10px 10px 0 0;
}

.table4js-table-group-header-technical-cell {
  background: var(--abc-primary-1-dark-2, $abc-primary-1-dark-2);
  border: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
}

.table4js-table-preheader {
  display: flex;
  align-items: center;
  padding: 6px;
}

.table4js-table-search-group {
  display: flex;
  flex-grow: 1;
  margin-right: 25px;
}

.table4js-table-advanced-settings {
  display: flex;
  align-items: center;
}

.table4js-button-more {
  margin-left: 15px;
}

.table4js-table-filter {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  width: 100%;
  height: 50px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 50px;
    top: 0;
    right: -1px;
    background: linear-gradient(90deg, transparent, var(--abc-primary-1-dark-2, $abc-primary-1-dark-2) 50%);
    z-index: 10;
  }
}

.table4js-table-filter__container {
  //position: absolute;
  display: flex;
  height: fit-content;
  padding: 5px;
  width: calc(100% - 5px);
  overflow-x: auto;
}

.table4js-table-header-title__cell {
  padding: 14px 6px;
  background: var(--abc-primary-0, $abc-primary-0);
  border-right: 1px solid var(--abc-primary-2-op-30, $abc-primary-2-op-30);
  position: relative;

  &:hover {
    .table4js-table-title__filter {
      display: block;
    }
  }
}

.table4js-table-switch {
  width: 15px;
}

.table4js-table-switch__text {
  font-weight: lighter;
  text-align: center;
  color: var(--abc-primary-2-op-50, $abc-primary-2-op-50);
}

.table4js-table-switch__text--selected {
  color: var(--abc-primary-2, $abc-primary-2);
}

.table4js-table-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.table4js-table-title__text {
  flex-grow: 1;
  margin-right: 30px;
  color: var(--abc-primary-2, $abc-primary-2);
  font-weight: normal;
  text-align: left;
}

.table4js-table-title__tools {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: -5px;
  background: linear-gradient(90deg, transparent 0%, var(--abc-primary-0, $abc-primary-0) 20%);
}

.table4js-table-title__filter {
  margin-left: 3px;
  display: none;
  cursor: pointer;
}

.table4js-table-title_resize {
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}

.table4js-table__row {
  //background: var(--abc-primary-1, $abc-primary-1);
  position: relative;

  &:hover {
    .table4js-table__more {
      display: none;
    }

    .table4js-table__edit {
      display: block;
    }

    .table4js-table__row--select {
      display: block;
    }
  }

  &:last-child {
    .table4js-table-cell {
      border-bottom: none;
    }
  }
}

.table4js-table__row--selected {
  .table4js-table__check {
    border-color: var(--abc-primary-4, $abc-primary-4);
  }

  .table4js-table__more {
    display: none;
  }

  .table4js-table__edit {
    display: block;
    fill: var(--abc-primary-4, $abc-primary-4);
  }

  .table4js-table__row--select {
    display: block;
    border-color: var(--abc-primary-0-op-20, $abc-primary-0-op-20);
    background: var(--abc-primary-0-op-10, $abc-primary-0-op-10);
  }
}

.table4js-table-cell {
  border-right: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  border-bottom: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  vertical-align: top;

  &:first-child {
    border-left: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
  }
}

.table4js-table-cell--merged {
  vertical-align: text-top;
}

.table4js-table-technical-cell {
  background: var(--abc-primary-1-dark-2, $abc-primary-1-dark-2);
  max-width: 35px;
  width: 30px;
  height: 30px;
  padding: 0;
}

.table4js-table-technical-cell__container {
  display: flex;
  padding: 6px;
  z-index: 1;
  position: relative;
}

.table4js-table__number {
  margin: auto;
}

.table4js-table__check {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid var(--abc-primary-0-op-15, $abc-primary-0-op-15);
  margin: auto;
}

.table4js-table__icon-check {
  height: 100%;
  width: 100%;
  fill: var(--abc-primary-4, $abc-primary-4);
}

.table4js-table-icon-row-tools {
  height: 20px;
  width: 20px;
  fill: var(--abc-primary-0-op-40, $abc-primary-0-op-40);
  margin: auto;
}

.table4js-table__edit {
  display: none;
}

.table4js-table-cell__container {
  padding: 8px 6px;
}

.table4js-table-cell__container--loading {
  background: linear-gradient(90deg, var(--abc-primary-1-dark-8, $abc-primary-1-dark-8), var(--abc-primary-0-op-30, $abc-primary-0-op-30), var(--abc-primary-1-dark-8, $abc-primary-1-dark-8));
  background-size: 150% 150%;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  margin: 6px;
  border-radius: 5px;
  animation: gradient 5s ease infinite;
  opacity: 0.8;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.table4js-table-cell__text {
  max-width: 280px;
  margin: auto 0;
  z-index: 1;
}

.table4js-table-cell__text--modified {
  font-weight: bold;
}

.table4js-table-cell__text--merged {
  z-index: 1;
  position: relative;
}

.cell__sticky-text {
  position: sticky;
}

.table4js-table__row--select {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*border-radius: 8px;*/
  border: 1px solid var(--abc-primary-0-op-10, $abc-primary-0-op-10);
  background: var(--abc-primary-0-op-05, $abc-primary-0-op-05);
  pointer-events: none;
}

.table4js-table__row--colored {
  position: absolute;
  top: 0;
  left: 30px;
  height: calc(100%);
  width: calc(100% - 60px);
  z-index: -1;
}

.table4js-table__footer {
  bottom: 0;
  z-index: 9;
}

.table4js-table-icon-equal {
  fill: var(--abc-primary-0, $abc-primary-0);
  margin: 0 auto;
}

.table4js-table-footer__cell {
  border-bottom: none;
  padding: 0;
  background: var(--abc-primary-1-dark-2, $abc-primary-1-dark-2);
  border-top: 1px solid var(--abc-primary-1-dark-7, $abc-primary-1-dark-7);
}

.table4js-table-footer-tools__cell {
  padding: 0px;
}

.table4js-table-footer-tools__container {
  display: flex;
  padding: 6px;
  border-radius: 0 0 10px 10px;
}

.table4js-table-row-management {
  margin-right: 25px;
  flex-grow: 1;
}

.table4js-table-row-management__actions .actions {
  display: flex;

  button {
    margin-bottom: 0;
  }
}

.table4js-table-info {
  display: flex;
  align-items: center;
}

.table4js-table-info__total {
  margin-right: 15px;
}

.table4js-table-info__text {
  font-weight: lighter;
  color: var(--abc-primary-0-op-65, $abc-primary-0-op-65);
}

.table4js-table-info__go-to {
  display: flex;
  align-items: center;
}

.table4js-table-go-to__text {
  margin-right: 5px;
}

.table4js-table-go-to__value {
  @include mx-form-control;
  width: 40px;
  height: 24px;
  margin-right: 3px;
  padding: 6px;

  &:focus,
  &:focus-visible {
    @include mx-form-control-focus;
  }
}

.table4js-btn-transparent {
  margin: 0;
  padding: 3px;
  height: 21px;
  background: none;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: var(--abc-primary-0-op-20, rgba(118, 148, 206, 0.2));
  }

  .table4js-svg-icon {
    margin: 0;
    fill: var(--abc-primary-0, $abc-primary-0);
  }
}

.table4js-table--small {

  .table-bottom-actions,
  .table4js-table-actions {
    button.action-button {
      .table4js-button__svg-icon {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }

  .table4js-action-button__icon {
    margin-right: 0;
  }
}

table4, .table4js-root {
  display: inline-block;
  height: 100%;

  &.abrs-table-child-view {
    height: 100%;
  }

  .table4js-table-scroll-container__locked {
    >table {
      >tr {
        visibility: collapse;

        &.row-visible {
          visibility: visible;
        }

        &.row-table-detail {
          visibility: visible;
        }
      }
    }
  }

  .abrs-table-side-edit {
    .table4js-table-extended {
      .table4js-table-resizable-container>.btn-ref-line {
        display: block;
      }
    }

    .abrs-table-side-detail {
      transition: width 1s;
      display: inline-block;
      vertical-align: top;
      overflow-y: scroll;
      height: 100%;
    }
  }
}

.table4js-view-content-holder-inner {
  height: 100%;
}

.abrs-table-container {
  height: 100%;
  display: flex;
  position: relative;

  .abrs-table-container-one {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
  }

  .abrs-table-container-side {
    height: calc(100vh - 117px);
    display: flex;
    flex-direction: column;

    .table4js-table-scroll-container {
      width: 100%;
      height: inherit;
      margin-top: 5px;
    }
  }

  .abrs-table-main {
    flex: 3;
    height: 25%;
  }
}

@-moz-document url-prefix() {
  .abrs-table-container-side {
    .table4js-table-scroll-container {
      width: calc(100% + 8px);
    }
  }
}

.row.abrs-table-content-right {
  padding-right: 10px;
}

.table4js-table-cell--left {
  text-align: left;
}

.table4js-table-cell--right {
  text-align: right;
}

.table4js-svg-icon.table4js-table-go-to__icon {
  width: 16px;
  height: 16px;
}