@import "../_colors";

abris-table-summary {
  display: flex;
  width: 100%;
  text-align: right;
  justify-content: end;
  border-radius: 8px;
  border: 1px solid var(--abc-primary-0-op-30, rgba(118, 148, 206, 0.3));
  margin: 0px;
  padding: 5px 7px;
  select {
    order: none;
    background: none;
    vertical-align: middle;
    cursor: pointer;
    margin-left: auto;
    color: var(--abc-primary-3, #9db6e7);
    border: none;
  }
}


