@import "../_colors";

abris-table-summary {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.abris-table-summary__select {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--abc-primary-0, $abc-primary-0);
  width: min-content;
  box-shadow: inset 0 0 0 1px #f0f0f0 !important;
}

.abris-table-summary__value {
  font-weight: lighter;
  color: var(--abc-primary-0-op-65, $abc-primary-0-op-65);
}