/* Fallback colors for variables */
$table4js-base-color: #7694ce;

$abc-primary-0:     #263769;	/* Основной Цвет */
$abc-primary-1:     #f8f9fd;
$abc-primary-2:     #ffffff;
$abc-primary-3:     #323232;
$abc-primary-4:     #263769;

$abc-secondary-a-0: #263769;	/* Вторичный Цвет A */
$abc-secondary-a-1: #07742B;
$abc-secondary-a-2: #AC160A;
$abc-secondary-a-3: #1B274B;
$abc-secondary-a-4: #bbbfca2a;
$abc-secondary-a-5: #afecbf;
$abc-secondary-a-6: #C1170B;
$abc-secondary-a-7: #9A1309;
$abc-secondary-a-8: #078834;
$abc-secondary-a-9: #056125;
$abc-secondary-a-10: #304788;
$abc-secondary-a-11: #202F5B;
$abc-secondary-a-12: #BCC5CC;
$abc-secondary-a-13: #FBE5A4;

$abc-secondary-b-0: #ff9486;	/* Вторичный Цвет B */
$abc-secondary-b-1: #bf837b;
$abc-secondary-b-2: #a63a2c;
$abc-secondary-b-3: #ffafa4;
$abc-secondary-b-4: #ffc4bc;
$abc-complement-0:  #ffd586;	/* Дополнительный Цвет */
$abc-complement-1:  #bfa87b;
$abc-complement-2:  #a67c2c;
$abc-complement-3:  #ffe0a4;
$abc-complement-4:  #ffe8bc;

$abc-primary-0-op-95:      scale-color($abc-primary-0, $alpha: -5%); 
$abc-primary-0-op-80:      scale-color($abc-primary-0, $alpha: -20%);
$abc-primary-0-op-70:      scale-color($abc-primary-0, $alpha: -30%);
$abc-primary-0-op-65:      scale-color($abc-primary-0, $alpha: -35%);
$abc-primary-0-op-40:      scale-color($abc-primary-0, $alpha: -60%);
$abc-primary-0-op-30:      scale-color($abc-primary-0, $alpha: -70%);
$abc-primary-0-op-20:      scale-color($abc-primary-0, $alpha: -80%);
$abc-primary-0-op-15:      scale-color($abc-primary-0, $alpha: -85%);
$abc-primary-0-op-10:      scale-color($abc-primary-0, $alpha: -90%);
$abc-primary-0-op-05:      scale-color($abc-primary-0, $alpha: -95%);
$abc-primary-0-op-03:      scale-color($abc-primary-0, $alpha: -97%);

$abc-primary-1-dark-05:    darken($color: $abc-primary-1, $amount: 0.5);
$abc-primary-1-dark-2:     darken($color: $abc-primary-1, $amount: 2);
$abc-primary-1-dark-3:     darken($color: $abc-primary-1, $amount: 3);
$abc-primary-1-dark-4:     darken($color: $abc-primary-1, $amount: 4);
$abc-primary-1-dark-7:     darken($color: $abc-primary-1, $amount: 7);
$abc-primary-1-dark-8:     darken($color: $abc-primary-1, $amount: 8);

$abc-primary-2-op-90:      scale-color($abc-primary-2, $alpha: -10%);
$abc-primary-2-op-50:      scale-color($abc-primary-2, $alpha: -50%);
$abc-primary-2-op-30:      scale-color($abc-primary-2, $alpha: -70%);
$abc-primary-2-op-20:      scale-color($abc-primary-2, $alpha: -80%);
$abc-primary-2-op-15:      scale-color($abc-primary-2, $alpha: -85%);
$abc-primary-2-op-10:      scale-color($abc-primary-2, $alpha: -90%);

$abc-primary-3-op-40:      scale-color($abc-primary-3, $alpha: -60%);
$abc-primary-3-op-30:      scale-color($abc-primary-3, $alpha: -70%);
$abc-primary-3-op-20:      scale-color($abc-primary-3, $alpha: -80%);
$abc-primary-3-op-10:      scale-color($abc-primary-3, $alpha: -90%);

$abc-secondary-a-0-op-15:  scale-color($abc-secondary-a-0, $alpha: -85%);


@mixin mx-form-control {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--abc-primary-0-op-20, $abc-primary-0-op-20);
    background: var(--abc-primary-1, $abc-primary-1);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
@mixin mx-form-control-focus {
    border-color: var(--abc-primary-0-op-65, $abc-primary-0-op-65);
    outline: none;
}

@mixin mx-form-control-readonly {
    border-radius: 0;
    border-color: var(--abc-primary-1, $abc-primary-1);
    border-bottom: 1px solid var(--abc-primary-0-op-20, $abc-primary-0-op-20);
}

@mixin mx-form-control-momodified {
    background: linear-gradient(#f8f9fd, 75%, #FBE5A4BD);//#FBE5A4BD !important; //var(--abc-secondary-a-13, $abc-secondary-a-13);
}