.table4js__reference-editor {
    width: 100%;
}

.table4js__reference-editor-select {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 3px;
}