.table4js__bool-cell {
    display: inline-block;    
    text-align: center;
    width: 100%;
}

.table4js__bool-cell-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
}
