@import "../../colors";

.table4js__progress-cell {
    display: inline-block;    
    white-space: nowrap;
}

.table4js__progress-cell-indicator {
    display: inline-block;    
    width: 100px;
    height: 1em;
    border-radius: 1em;
    position: relative;
    background: $progress-background-color;
    overflow: hidden;
    vertical-align: middle;
    margin-inline-end: 10px;
}

.table4js__progress-cell-value {
    position: absolute;
    height: 100%;
    background-color: $progress-line-color;
    border-radius: 1em;
}

.table4js__progress-cell-text {
    display: inline-block;    
}